html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url(../images/bg.png) no-repeat center top;
    background-size: cover;
}

.clearfix {
    clear: both;
}

input, textarea, select, button {
    outline: none;
}

header, footer, div, p , input {
    box-sizing: border-box;
}

a, button {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.inner {
    max-width: 1180px;
    margin: 0 auto;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.redBorder {
    border: 1px solid #ff0000!important;
}

.title-wrapper {
    text-align: center;
}

.ligth-blue-btn {
    padding: 5.5px 30px;
    display: inline-block;
    background: linear-gradient(261.06deg, #38ADFF 0%, #51B7FF 100%), #90D1FF;
    opacity: 0.8;
    border: 1px solid #90D1FF;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-size: 18px;
    color: #FFFFFF!important;
    text-decoration: none!important;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(255, 255, 255, 0.5);
    outline: none!important;
}

.ligth-blue-btn:hover {
    background: linear-gradient(261.06deg, #77C7FF 0%, #74C5FF 100%), #90D1FF;
}

.ligth-blue-btn:active {
    background: linear-gradient(261.06deg, #7AC8FF 0%, #51B7FF 100%), #90D1FF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

img {
    max-width: 100%;
}

/*Header*/
.header {
    padding: 33px 0 59px 0;
    background: #61BEFF;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
}

.social-networks li {
    display: inline-block;
    margin-right: 30px;
}

.social-networks li:last-child {
    margin-right: 0;
}

.header-center {
    padding-top: 25px;
    text-align: center;
}

.header-right {
    text-align: right;
}

.header-right p img {
    margin-left: 7px;
}

.header-right p:nth-child(2) img {
    margin-top: -2px;
}

.header-right p, .header-right p a {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-right p:not(:last-child) {
    margin-bottom: 14px;
}

/*After header*/
.menu {
    margin-top: -25px;
    margin-bottom: 120px;
    padding: 10px 0;
    letter-spacing: 150px;
    background: #61BEFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(255, 255, 255, 0.3);
    border-radius: 40px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: normal;
}

.after-header {
    text-align: center;
    margin-bottom: 111px;
}

.after-header img {
    max-width: 100%;
}

/*Services*/
.services {
    margin-bottom: 60px;
}

.icon-block {
    margin-right: 32px;
    display: inline-block;
    position: relative;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 175px;
    height: 175px;
    background: linear-gradient(137.08deg, #FAFAFA 11.12%, #FFFFFF 86.91%);
    border: 1px solid #EFEFEF;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(255, 255, 255, 0.5);
}

.icon-block img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.description-block {
    display: inline-block;
    width: calc(100% - 212px);
}

.service-title {
    font-weight: bold;
    font-size: 24px;
    color: #636363;
}

.service-slogan {
    font-weight: 600;
    font-size: 16px;
    color: #636363;
}

.service-description {
    font-size: 14px;
    color: #636363;
}

.one-service-block {
    margin-bottom: 45px;
}

.title-wrapper-services {
    position: relative;
    margin-bottom: 70px;
}

.title-wrapper-services h1 {
    position: absolute;
    width: 100%;
    font-weight: bold;
    font-size: 2.2rem;
    color: #FFFFFF;
    margin-top: 4rem;
}

.title-wrapper-services h1 span {
    text-align: center;
} 

/*Price block*/
.price-block {
    margin-bottom: 135px;
}

.one-price-block > div {
    padding: 24px 17px;
    background: linear-gradient(122.15deg, #FAFAFA 11.12%, #FFFFFF 86.91%);
    border: 1px solid #EFEFEF;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.title-wrapper-price-block {
    margin-bottom: 80px;
}

.title-wrapper-price-block h2 {
    font-weight: bold;
    font-size: 36px;
    color: #636363;
}

.price-block-image {
    margin-bottom: 24px;
}

.price-block-image img {
    max-width: 100%;
    border: 1px solid #EFEFEF;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.price-block-price {
    font-weight: bold;
    font-size: 24px;
    color: #1FA1FF;
    padding: 0 20px;
}

.price-block-services {
    padding: 0 20px;
    font-size: 18px;
    color: #000000;
}

.price-block-services li {
    margin-bottom: 18px;
    text-align: justify;
}

.price-block-buttons {
    padding: 0 20px;
    text-align: center;
}

.price-block-buttons p a {
    font-size: 18px;
    color: #1FA1FF;
    text-decoration: none;
}

.price-block-buttons p a:hover {
    text-decoration: underline;
}

.price-block-buttons .ligth-blue-btn {
    width: 90%;
    margin-bottom: 13px;
}

/*Price list*/
.price-list {
    margin-bottom: 213px;
}

.price-list-block {
    padding: 48px 65px;
    background: linear-gradient(146.67deg, #FAFAFA 11.12%, #FFFFFF 86.91%);
    border: 1px solid #EFEFEF;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.title-wrapper-price-list {
    margin-bottom: 52px;
}

.title-wrapper-price-list h2 {
    font-weight: bold;
    font-size: 36px;
    color: #1FA1FF;
}

.opr-th {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    margin-bottom: 18px;
}

.opr-left, .right-sub-th-first {
    border-right: 1px solid #D7D7D7;
}

.opr-th, .right-sub-th > div/*, .one-price-row*/ {
    border-bottom: 1px solid #D7D7D7;
}

.one-price-row:not(:last-child) {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid #D7D7D7;
}

.width-50 {
    width: 50%!important;
}

/*.one-price-row:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}*/

.right-sub-th p, .inner-table-th th {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.inner-table-th th {
    border-top: 1px solid #D7D7D7!important;
}

.opr-left li, .right-sub-th-first li, .right-sub-th li {
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
}

.one-price-row table th, .one-price-row table td {
    vertical-align: top;
    padding: 0;
    border: none;
    padding: 15px 0;
}

.top-th > th {
    border-bottom: 1px solid #D7D7D7!important;
}

.top-th > th:nth-child(2) {
    padding: 0 15px;
    border-left: 1px solid #D7D7D7!important;
}

.bottom-th > td:nth-child(2) {
    padding: 0 15px;
    border-left: 1px solid #D7D7D7!important;
}

.one-price-row table {
    margin-bottom: 0!important;
}

.inner-table-th {
    margin-top: 15px!important;
}

/*Contact form*/
.contact-form {
    padding-bottom: 60px;
}

.title-wrapper-contact-form h2 {
    font-weight: bold;
    font-size: 36px;
    color: #1FA1FF;
}

.contact-form-form-top {
    margin: 35px 0 10px 0;
}

.contact-form-form-top > div {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.contact-form-form-top input {
    padding: 0 30px;
    width: 350px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #B6B6B6;
    box-sizing: border-box;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.personal-data-block label {
    cursor: pointer;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #919191;
}

.personal-data-block label a {
    color: #1FA1FF;
    text-decoration: underline;
}

.personal-data-block label a:hover {
    text-decoration: none;
}

.personal-data-block input {
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin-right: 12px;
}

/*Delivery*/
.all-delivery-center {
    text-align: center;
}

.delivery {
    padding: 30px 0 200px 0;
    /*background: linear-gradient(139.61deg, #4BB3FF 0%, #65BEFF 36.46%, #48B2FF 69.79%, #008AED 100%);*/
    background: url(../images/delivery-bg.png) no-repeat center;
    background-size: cover;
    border-radius: 30px 30px 0px 0px;
}

.all-delivery-center > div {
    margin-top: 85px;
    display: inline-block;
    width: 247px;
    height: 247px;
    background: linear-gradient(137.08deg, #FAFAFA 11.12%, #FFFFFF 86.91%);
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: relative;
}

.all-delivery-center > div img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tar {
    text-align: right;
}

.all-delivery-left p, .all-delivery-right p {
    margin-bottom: 2px;
    font-size: 24px;
    color: #FFFFFF;
}

.all-delivery-left > div > p:first-child, .all-delivery-right > div > p:first-child {
    font-weight: bold;
}

.all-delivery-left > div:not(:last-child), .all-delivery-right > div:not(:last-child) {
    margin-bottom: 106px;
}

.pr-90 {
    padding-right: 90px;
}

.pl-90 {
    padding-left: 90px;
}

.title-wrapper-delivery {
    position: relative;
    margin-bottom: 30px;
}

.title-wrapper-delivery h2 {
    position: absolute;
    width: 100%;
    font-weight: bold;
    font-size: 2.5rem;
    color: #545454;
    margin-top: 4rem;
}

/*Map block*/
.inner-map-block {
    position: relative;
}

.address-div {
    padding: 26px 24px 20px 24px;
    width: 350px;
    z-index: 10;
    position: absolute;
    left: 0;
    top: -80px;
    background: linear-gradient(156.97deg, #FAFAFA 11.12%, #FFFFFF 86.91%);
    border: 1px solid #EFEFEF;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.address-div p, .address-div p a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.address-div p:not(:last-child) {
    margin-bottom: 12px;
}

.address-div p a:hover {
    text-decoration: underline;
}

.address-div p span {
    font-weight: bold;
}

/*Footer*/
.footer {
    padding: 15px 0;
    background: #232323;
    text-align: center;
}

.footer p, .footer p a {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer p:last-child {
    margin-bottom: 0;
}

.footer p a:hover {
    text-decoration: underline;
}

.top-th th {
    padding-top: 0!important;
}

.bottom-th td table td:first-child {
    border-right: 1px solid #D7D7D7!important;
}

.bottom-th td table td:last-child {
    padding: 15px;
}

.inner-table-th th:first-child {
    padding-top: 15px!important;
    padding-right: 15px;
    border-right: 1px solid #D7D7D7!important;
}

.inner-table-th th:last-child {
    padding: 15px 15px 0 15px!important;
}

.page-not-found p {
    text-align: center;
    font-size: 150px;
    color: #61BEFF;
    font-weight: 700;
    padding: 50px 0 150px 0;
}

.privacy-policy-content {
    padding-bottom: 150px;
}

.privacy-policy-content h1 {
    margin-bottom: 1.5rem;
}

::-webkit-input-placeholder {font-size: 14px; line-height: 16px; color: #999999;}
::-moz-placeholder          {font-size: 14px; line-height: 16px; color: #999999;}
:-moz-placeholder           {font-size: 14px; line-height: 16px; color: #999999;}
:-ms-input-placeholder      {font-size: 14px; line-height: 16px; color: #999999;}

@media (max-width: 991px) {
    .icon-block {
        margin-right: 0;
        display: block;
        margin: 0 auto 30px auto;
    }
    .description-block {
        padding: 0 15px;
        width: 100%;
    }
    .header, .header-right, .price-block-price, .service-title, .service-slogan, .title-wrapper-contact-form, .title-wrapper-price-list {
        text-align: center;
    }
    .contact-form {
        padding: 0 15px;
    }
    .contact-form-form-top input {
        width: 100%;
        margin-bottom: 15px;
    }
    .contact-form-form-top > div {
        width: 100%;
        margin-right: 0;
    }
    .contact-form-form-top button, .address-div {
        width: 100%;
    }
    .price-list-block {
        padding: 48px 15px;
    }
    .price-list, .contact-form {
        margin-bottom: 60px;
    }
    .one-price-block {
        margin-bottom: 30px;
    }
    .services {
        margin-bottom: 0;
    }
    .title-wrapper-price-block {
        margin-bottom: 30px;
    }
    .menu li {
        display: block;
    }
    .menu, .after-header, .price-block {
        margin-bottom: 60px;
    }
    .opr-left, .right-sub-th-first {
        border-right: none;
    }
    .right-sub-th {
        padding-left: 0;
        padding-right: 0;
    }
    .one-price-row {
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
    .all-delivery-left > div, .all-delivery-right > div {
        text-align: center;
        padding: 0;
    }
    .all-delivery-left > div:not(:last-child), .all-delivery-right > div:not(:last-child) {
        margin-bottom: 30px;
    }
    .all-delivery-right {
        margin-top: 30px;
    }
    .delivery {
        padding: 30px 0 150px 0;
    }
    .all-delivery-center > div {
        margin-top: 35px;
    }
}